---
// Component imports and setup JavaScript go here!

  import Interests from "$lib/components/interests.astro";
  import Projects from "$lib/components/projects/projects.svelte";
  import Skills from "$lib/components/skills.svelte";
  import Drawer from "$lib/components/drawer/drawer.svelte";
  import AboutMe from "$lib/components/aboutMe.svelte";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Personal Portfolio / Online Resume" />
		<title>Stefan Watt - Personal Page</title>
		<link rel="stylesheet" type="text/css" href={Astro.resolve('../app.css')} />
		  <link rel="preconnect" href="https://scripts.sirv.com" crossorigin>
<link rel="preconnect" href="https://comentic.sirv.com" crossorigin>
<link rel="dns-prefetch" href="https://scripts.sirv.com">
<link rel="dns-prefetch" href="https://comentic.sirv.com">
		<style>
			/* scoped CSS styles go here: */
			/* h1 { ... } */
		</style>
	</head>

	<body>
<main class="dark">
  <div class="h-screen dark:bg-neutral text-primary">
    <div class="md:flex">
      <Drawer client:idle />
      <div class="md:max-h-screen md:overflow-y-scroll md:w-full">
        <AboutMe />
        <Projects />
        <Skills />
        <Interests />
      </div>
    </div>
  </div>
</main>

	</body>
</html>
