---
// Component imports and setup JavaScript go here!

  import Interests from "$lib/components/interests.astro";
  import Projects from "$lib/components/projects/projects.svelte";
  import Skills from "$lib/components/skills.svelte";
  import Drawer from "$lib/components/drawer/drawer.svelte";
  import AboutMe from "$lib/components/aboutMe.svelte";
  import BackToTop from "$lib/components/backToTop.svelte";
  import Divider from "$lib/components/divider.svelte";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Personal Portfolio / Online Resume" />
		<title>Stefan Watt - Personal Page</title>
		<link rel="stylesheet" type="text/css" href={Astro.resolve('../app.css')} />
    <link rel="preconnect" href="https://scripts.sirv.com" crossorigin />
    <link rel="preconnect" href="https://comentic.sirv.com" crossorigin />
    <link rel="dns-prefetch" href="https://scripts.sirv.com" />
    <link rel="dns-prefetch" href="https://comentic.sirv.com" />
	</head>

	<body>
    <main class="dark">
      <div class="h-screen dark:bg-neutral text-primary">
        <div class="md:flex">
          <Drawer client:idle />
          <div class="md:max-h-screen md:overflow-y-scroll md:w-full">
            <AboutMe />
            <Divider/>
            <Projects/>
            <Divider topColor="9A8C98" bottomColor="292524" />
            <Skills />
            <Divider topColor="292524" bottomColor="C9ADA7"/>
            <Interests />
          </div>
        </div>
      </div>
      <BackToTop client:idle/>
    </main>
  </body>
</html>
